@charset "utf-8";
/* CSS Document */
h1 
{color: red;
text-align: center;
}

body { background-color: black;}

h2 
{color: white;
text-align: center;
}

p
{color: red;
text-align: center;
font-size: 30px;
}

img {
  border-color: red;
  border-width: 6px;
  border-style: solid;
  
}

